/* Overriding global link styles for the .about section */
.product a {
    color: #ffffff !important; /* Set text color for links to white */
    text-decoration: none; /* Remove default underline */
  }
  
  /* Adjust link color when hovered or visited */
  .product a:hover,
  .product a:visited {
    color: #ffffff !important; /* Text color for visited links to white */
    background-color: #346fbc; /* Background color on hover or visited */
  }
  