<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/about/globals.css" />
    <link rel="stylesheet" href="../static/about/style.css" />
    <link rel="stylesheet" href="../static/about/overrides.css" />
  </head>
  <body>
    <div class="about">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="frame">
            <div class="main-menu">
              <div class="navbar">
                <div class="text-wrapper"><ul><li><a href="../">Main</a></li></ul></div>
                <div class="div"><ul><li><a href="../about/">About</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../product1/">Product</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../contact/">Contact</a></li></ul></div>
              </div>
            </div>
          </div>
          <img class="group" src="../static/about/img/group-17-2.png" />
          <div class="overlap">
            <div class="overlap-2">
              <div class="group-2">
                <img class="img" src="../static/about/img/group-34.png" />
                <p class="your-contrail">Your Contrail &amp; Atmospheric Data</p>
                <p class="quicker-decisions-to">
                  Quicker decisions to re-route aircrafts &amp; reduce contrail effects on the environment
                </p>
                <p class="real-time">
                  <span class="span">Real Time Predictions of Contrail </span>
                  <span class="text-wrapper-2">Persistency</span>
                  <span class="text-wrapper-3">&nbsp;</span>
                  <span class="span">&amp; </span>
                  <span class="text-wrapper-2">Severity</span>
                </p>
                <div class="text-wrapper-4">+</div>
                <div class="text-wrapper-5">=</div>
                <img class="arrow" src="../static/about/img/arrow-1.svg" />
              </div>
              <p class="body">
                <span class="text-wrapper-6">The </span>
                <span class="text-wrapper-7">CleanSky Contrail Severity Model (CMS)</span>
                <span class="text-wrapper-6">
                  leverages advanced machine learning algorithms and real-time atmospheric data to revolutionize
                  contrail forecasting. We’re hoping for positive change by enabling the prediction, interpretation, and
                  navigation of contrail forecasting with unparralled precision, ensuring safer and more informed skies
                  for all.</span
                >
              </p>
            </div>
            <p class="p">
              “Team CleanSky is committed to revolutionizing contrail forecasting by providing indispensable insights
              into contrail severity”
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
