<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/contact/globals.css" />
    <link rel="stylesheet" href="../static/contact/style.css" />
    <link rel="stylesheet" href="../static/contact/overrides.css" />
  </head>
  <body>
    <div class="contact">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="main-menu">
              <div class="navbar">
                <div class="text-wrapper"><ul><li><a href="../">Main</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../about/">About</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../product1/">Product</a></li></ul></div>
                <div class="div"><ul><li><a href="../contact/">Contact</a></li></ul></div>
              </div>
            </div>
          </div>
          <img class="group" src="../static/contact/img/group-17-2.png" />
          <div class="overlap-group">
            <div class="overlap-group-wrapper">
              <div class="overlap-2">
                <div class="rectangle"></div>
                <div class="group-2">
                  <div class="overlap-3">
                    <img class="screenshot" src="../static/contact/img/screenshot-2023-11-20-at-9-25-1.png" />
                    <div class="div-wrapper">
                      <div class="overlap-group-2">
                        <div class="text-wrapper-2">SFO</div>
                        <div class="text-wrapper-3">San Francisco</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-4">
                    <div class="text-wrapper-4">Adeleke Coker</div>
                    <div class="infrastructure-model">Infrastructure &amp; Model Engineer</div>
                  </div>
                  <div class="text-wrapper-5">metabc@berkeley.edu</div>
                </div>
                <div class="group-3">
                  <div class="overlap-3">
                    <img class="img" src="../static/contact/img/jesus-1.png" />
                    <div class="div-wrapper">
                      <div class="overlap-group-2">
                        <div class="text-wrapper-2">LAX</div>
                        <div class="text-wrapper-3">Los Angeles</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-5">
                    <div class="text-wrapper-2">Jesus Fernandez</div>
                    <p class="text-wrapper-6">Project Manger &amp; Web Development</p>
                  </div>
                  <div class="text-wrapper-7">jesus.fernandez@berkeley.edu</div>
                </div>
                <div class="group-4">
                  <div class="overlap-6">
                    <img class="img" src="../static/contact/img/justin-1.png" />
                    <div class="div-wrapper">
                      <div class="overlap-group-2">
                        <div class="text-wrapper-2">JFK</div>
                        <div class="text-wrapper-3">New York</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-7">
                    <div class="text-wrapper-2">Justin Chan</div>
                    <p class="text-wrapper-6">Product Manager &amp; MVP Engineer</p>
                  </div>
                  <div class="text-wrapper-8">justinchan@berkeley.edu</div>
                </div>
                <div class="group-5">
                  <div class="overlap-8">
                    <img class="leslie" src="../static/contact/img/leslie-1.png" />
                    <div class="div-wrapper">
                      <div class="overlap-group-2">
                        <div class="text-wrapper-2">SYD</div>
                        <div class="text-wrapper-3">Sydney</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-9">
                    <div class="text-wrapper-2">Leslie Nie</div>
                    <div class="text-wrapper-6">Model Engineer &amp; Analytics</div>
                  </div>
                  <div class="text-wrapper-9">lnie@berkeley.edu</div>
                </div>
                <div class="group-6">
                  <div class="overlap-6">
                    <img class="img" src="../static/contact/img/sean-1.png" />
                    <div class="group-7">
                      <div class="overlap-group-3">
                        <div class="text-wrapper-2">EWR</div>
                        <div class="text-wrapper-10">Newark</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-7">
                    <div class="text-wrapper-2">Sean Seneviratne</div>
                    <div class="SME-model-engineer">SME &amp; Model Engineer</div>
                  </div>
                  <div class="text-wrapper-8">sean_senev@berkeley.edu</div>
                </div>
              </div>
            </div>
            <div class="group-8">
              <div class="overlap-10">
                <img class="group-9" src="../static/contact/img/group-17-3.png" />
                <div class="text-wrapper-11">THE</div>
                <div class="text-wrapper-12">TEAM</div>
              </div>
            </div>
            <p class="p">Contact the team for product inquiries</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
