<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/main/globals.css" />
    <link rel="stylesheet" href="static/main/style.css" />
    <link rel="stylesheet" href="static/main/overrides.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <p class="ML-powered">ML POWERED PREDICTIONS <br />TO MINIMIZE CONTRAILS</p>
          <img class="group" src="static/main/img/group-17-2.png" />
          <div class="get-started"><div class="text-wrapper"><ul><li><a href="./about/">ENTER SITE</a></li></ul></div></div>
        </div>
      </div>
    </div>
  </body>
</html>
