<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/product2/globals.css" />
    <link rel="stylesheet" href="../static/product2/style.css" />
    <link rel="stylesheet" href="../static/product2/overrides.css" />
  </head>
  <body>
    <div class="product">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="rectangle" src="../static/product2/img/rectangle-1.png" />
          <div class="frame">
            <div class="main-menu">
              <div class="navbar">
                <div class="text-wrapper"><ul><li><a href="/">Main</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../about/">About</a></li></ul></div>
                <div class="div"><ul><li><a href="../product1/">Product</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../contact/">Contact</a></li></ul></div>
              </div>
            </div>
          </div>
          <img class="group" src="../static/product2/img/group-17-2.png" />
          <div class="rectangle-2"></div>
          <div class="group-2">
            <div class="overlap-group">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-2">Model Inputs</div>
              <div class="group-3">
                <div class="element">
                  4.298<br />5.312<br />210.205<br />108.405<br />561.93<br />0.112<br />191.15<br />-0.577<br />0.032<br />1.226
                </div>
                <p class="ice-volume-RF-LW-w">
                  Ice Volume<br />RF LW (W)<br />Temperature (K)<br />nvPM EI<br />Ice Number<br />Tau Contrail<br />Contrail
                  EF (J)<br />RF SW<br />Avg Tau Cirrus<br />Avg Relative Humidity
                </p>
              </div>
            </div>
            <div class="overlap-2">
              <div class="rectangle-4"></div>
              <div class="model-results-in">Model Results<br />(in plain english)</div>
            </div>
          </div>
          <div class="text-wrapper-3">Model Predictions Demo</div>
          <p class="projections-indicate">
            <span class="span">Projections indicate your aircraft is currently forming an </span>
            <span class="text-wrapper-4">ACTIVE CONTRAIL!<br /></span>
            <span class="text-wrapper-5"><br /></span>
            <span class="span">The aircraft’s projected contrail length is:<br /></span>
            <span class="text-wrapper-6">2100.32 kilometers<br /></span>
            <span class="text-wrapper-7"><br /><br /></span>
            <span class="text-wrapper-5"
              >Given the formation of a persistent contrail, our models grade the duration at
            </span>
            <span class="text-wrapper-6">5.33 hours<br /></span>
            <span class="text-wrapper-8"><br /></span>
            <span class="text-wrapper-9">CleanSky recommends finding an alternate route to reduce climate effects</span>
          </p>
          <img class="img" src="../static/product2/img/group-34-1.png" />
          <div class="overlap-group-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-10">!</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
