<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/product1/globals.css" />
    <link rel="stylesheet" href="../static/product1/style.css" />
    <link rel="stylesheet" href="../static/product1/overrides.css" />
  </head>
  <body>
    <div class="product">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="main-menu">
              <div class="navbar">
                <div class="text-wrapper"><ul><li><a href="../">Main</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../about/">About</a></li></ul></div>
                <div class="div"><ul><li><a href="../product1/">Product</a></li></ul></div>
                <div class="text-wrapper"><ul><li><a href="../contact/">Contact</a></li></ul></div>
              </div>
            </div>
          </div>
          <img class="group" src="../static/product1/img/group-17-2.png" />
          <div class="overlap-group">
            <img class="img" src="../static/product1/img/group-34-1.png" />
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="group-2" src="../static/product1/img/group-36-1.png" />
                <img class="line" src="../static/product1/img/line-1.svg" />
                <img class="line-2" src="../static/product1/img/line-2.svg" />
                <img class="line-3" src="../static/product1/img/line-3.svg" />
                <img class="line-4" src="../static/product1/img/line-4.svg" />
              </div>
            </div>
            <p class="p">Cockpit CMS Software In Action</p>
            <p class="text-wrapper-2">
              Through seamless integration via the CleanSky API, pilots will have instant access to contrail severity
              predictions built into their onboard instruments.
            </p>
            <p class="text-wrapper-3">
              Leveraging real-time atmospheric conditions recorded by onboard sensors, our clients can navigate the
              skies with unprecedented accuracy and foresight
            </p>
            <div class="get-started"><div class="text-wrapper-4"><ul><li><a href="../product2/">More Info</a></li></ul></div></div>
            <img class="screenshot" src="../static/product1/img/screenshot-2023-12-02-at-4-38-1.png" />
            <img class="screenshot-2" src="../static/product1/img/screenshot-2023-12-02-at-4-38-2.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
